<!DOCTYPE html>
<html>
  <%- include ../head.ejs %>
  <body id="movies">
	  <%- include ../links.ejs %>
    <% if (error) { %>
      <p class="error"><%= error %></p>
    <% } %>
    <h2>Movies showing</h2>
    <table>
    <% movies.forEach(function(movie, index) { %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.time %></td>
          <td><%= movie.theater %></td>
      </tr>
    <% }); %>
    </table>
  </body>
</html>
